.spinningContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}

.LoadingText {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.header {
  padding: 0.75rem 1.25rem;
  width: 100%;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: contain;
}

.scrollContainer{
    max-height: calc(100vh - 160px);
    width: 100%;
    /* border: 1px solid black; */
    padding-right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.outerCardContainer{
    padding: 1rem 0.75rem;
}

.scrollContainer>div{
    flex-shrink: 0;
}

.cta {
    background-color: #ffffff !important;
    color: #333333 !important;
    width: 100%;
    font-weight: 700 !important;
}

.cta:hover {
    background-color: #ffffff !important;
    color: #333333 !important;
    font-weight: 700 !important;
}

.cta:disabled {
    background-color: #ffffff30 !important;
    color: #ffffff !important;
}