.customScroll::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.customScroll::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 5px;
}

.customScroll::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.customSlider .ant-slider-track {
  background-color: #5E5A66 !important; /* active section */
}

.customSlider .ant-slider-rail {
  background-color: #5E5A66 !important; /* inactive section */
  opacity: 20% !important;
}

.customSlider .ant-slider-handle {
  border-color: #5E5A66 !important;
  height: 12px !important;
  width: 12px !important;
}

.customSlider .ant-slider-handle::after {
    box-shadow: 0 0 0 2px #D8D7DA !important;
    height: 10px;
    width: 10px;
}

.customSlider .ant-slider-dot-active{
    display: none !important;
}

.customSlider .ant-slider-mark{
    top: 16px !important;
}

.customSlider{
    margin-bottom: 0px !important;
}

/* Mobile responsive slider */
@media (max-width: 480px) {
    .customSlider .ant-slider-mark {
        top: 18px !important;
        font-size: 9px !important;
    }
    
    .customSlider .ant-slider-handle {
        height: 14px !important;
        width: 14px !important;
    }
    
    .customSlider .ant-slider-handle::after {
        height: 12px;
        width: 12px;
    }
}