.spinningContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.LoadingText{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}